{% macro render_field_select(field) %}

	<div class="form-group">
        {{ field.label(class="form-control-label") }}
        {% if field.errors %}
            {{ field(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ field(class="form-control form-control-lg", data-live-search="true") }}
                                
        {% endif %}
    </div>

{% endmacro %}

