{% from "_render_field.html" import render_field %}
{% extends "layout.html" %}
{% block content %}


<div class="container">
    <div class="col-md-8">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>

            {{ render_field(form.date_posted, class="form-control form-control-lg", placeholder="DD/MM/YYYY")}}
            {{ render_field(form.project, class="form-control form-control-lg")}}
            {{ render_field(form.unit_number, class="form-control form-control-lg")}}  
            
            <table class="table">
                <tr>
                    <td>{{ render_field(form.ren1, **{"class":"form-control form-control-lg selectpicker","drop-up-auto":"false", "data-live-search":"true"}) }}</td>  
                    <td>{{ render_field(form.ren1perc, class="form-control form-control-lg")}}</td>  
                </tr>
            </table>
          
            {{ render_field(form.size, class="form-control form-control-lg")}}  
            {{ render_field(form.buyer, class="form-control form-control-lg")}}  
            {{ render_field(form.spaprice, class="form-control form-control-lg")}}  
            {{ render_field(form.netprice, class="form-control form-control-lg")}}  
            {{ render_field(form.package, class="form-control form-control-lg")}}  
            {{ render_field(form.remark, class="form-control form-control-lg")}}  

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

    </form>
    </div>
</div>



{% endblock content %}


